// Global styling for this template
body {
    overflow-x: hidden;
    @include body-font;
    margin-bottom: 60px;
}

p {
    line-height: 1.75;
}

a {
    color: $primary;
    &:hover {
        color: darken($primary, 10%);
    }
}

.text-primary {
    color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    @include heading-font;
}

section {
    padding: 75px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 75px;
        text-transform: none;
        @include serif-font;
    }
}

@media(min-width:768px) {
    section {
        padding: 100px 0;
    }
}

// Button Styles
.btn {
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    &:active,
    &:focus,
    &:hover {
        background-color: darken($primary, 7.5%) !important;
        border-color: darken($primary, 7.5%) !important;
        color: white;
    }
    &:active,
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, .5) !important;
    }
}

// Highlight color customization
::-moz-selection {
    background: $primary;
    text-shadow: none;
}

::selection {
    background: $primary;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

.iframe-container>* {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.today {
    color: $gray-500;
}

.footer-sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
    font-size: 0.8rem;
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #464646;
    vertical-align: middle;
}

.fa-phone-square,
.fa-car {
    color: rgba(189, 189, 189, 0.9);
    font-size: 2rem;
}

.fas {
    line-height: inherit;
}

@media(max-width:768px) {
    .headroom {
        will-change: transform;
        transition: transform 200ms linear;
    }
    .headroom--pinned {
        transform: translateY(0%);
    }
    .headroom--unpinned {
        transform: translateY(-100%);
    }
}